body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.col:not(:last-child) {
  margin-right: 0.5rem;
  border-right: 2px solid black;
}

.app-holder {
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  min-width: 800px;
  width: 80vw;
  height: 95vh;
  max-height: 95vh;
  padding: 0.25em;
}

.app-border {
  border: 1px black solid;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.app-inner {
  position: relative;
  opacity: 1;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
}

select {
  width: calc(100% - 4rem);
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid black;
  margin-bottom: 2rem;
}
